html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); */
    background: rgba(10, 80,120, 0.5);
}
.slider {
  background: url(../img/bg1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.footer {
  height: 100px;
  background-color: rgba(0, 80, 120, 0.5);
}

/* HIDER */

columnaprueb{
  width: 100%;
  height: 100;
  background-color: red;
}
.hideme {
  opacity: 0;
}



/* ----------------- */
/* CAPTION CARROUSEL */
/* ----------------- */

.textCaptionCarousel h2{


}
.textCaptionCarousel h4{


}
.textCaptionCarousel p{


}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .textCaptionCarousel h2{


  }
  .textCaptionCarousel h4{


  }
  .textCaptionCarousel p{


  }
}
