/*SCROLLBAR*/

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;  
       background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #190866;
}


/**------------------**/
/**----BOTON INICIO--**/
/**-----------------**/

button {
 border: none;
 background:#190866;
 color: #f2f2f2;
 padding-left: 250px;
 padding-right: 250px;

 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}
button:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 23px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}
button:hover:before {
 width: 100%;
}


/*FIN DOCUMENTO*/
@media screen and (max-width: 500px) {

}

@media screen and (max-height: 550px) {

}
