body,html {

    width:100%;
    height: 100%;
    background: url('../imagenes/1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;

}

.header {
background-color:#190866;
    color: #fffff0;
text-decoration: none;
font-size: 1.5em;
width: 100%;
text-align: center;
position: fixed;
top: 0px;

z-index: 100;
}


.warp {
  padding-top: 8em;
  width: 90%;
  max-width: 90em;
  float: left;
  margin-left: 10%;
  padding-bottom: 2em;
}



.bocadillo p{
  background-color: #fffff0;
text-align: justify;
padding: 1em;
opacity: 0.5;
-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
transition: opacity 0.2s, transform 0.35s;
}

.bocadillo p:hover {
  opacity: 1;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
