*{

}
body,html {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background: url('../imagenes/wallhaven-3352.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fffff0;

}
.header p{
  width: 100%;
  height: 70px;
  display: block;
  position: fixed;
  left: 10px;
  top: 10px;
  padding-top: 10px;
  color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.header p:hover {
  opacity: 1;
  -webkit-transform: translate3d(0,15px,0);
	transform: translate3d(0,15px,0);
  -webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;

}

.warp {
    max-width: 100%;
    width:100%;
    min-width: 1000px;
    margin: 0 auto;
    overflow:hidden;
}


#navotros ul{
  list-style-type: none;
   text-align: center;
   width: 100%;
   margin: auto;

}
#navotros li{
  display: inline;
  margin: auto;
     width: 100%;
}
#navotros li a{
text-decoration: none;
margin: auto;
}
#navotros li a .ico1{
  background: url('../imagenes/icono1.png') no-repeat;
  height: 300px;
  min-height: 300px;
  width: 300px;
  min-width: 300px;
  float: left;
  opacity: 0.33;
  padding: 50px;
  margin: auto;
}


#navotros li a .ico1:hover{
  background: url('../imagenes/Star_Citizen_logo.png') no-repeat;
  height: 300px;
  width: 300px;
  opacity: 1;
   transition: all 2s ease;

}
#navotros li a .ico2{
  background: url('../imagenes/icono2.png') no-repeat;
  height: 300px;
  min-height: 300px;
  width: 300px;
  min-width: 300px;
  float: left;
  opacity: 0.33;
  padding: 50px;
  margin: auto;
}
#navotros li a .ico2:hover{
  background: url('../imagenes/Hitchhiker-Symbol-icon.png') no-repeat;
  height: 300px;
  width: 300px;
  opacity: 1;
   transition: all 2s ease;
}
#navotros li a .ico3{
  background: url('../imagenes/icono3.png') no-repeat;
  height: 300px;
  min-height: 300px;
  width: 300px;
  min-width: 300px;
  float: left;
  opacity: 0.33;
  padding: 50px;
  margin: auto;
}
#navotros li a .ico3:hover{
  background: url('../imagenes/icono13.png') no-repeat;
  height: 300px;
  width: 300px;
  opacity: 1;
   transition: all 2s ease;
}
