body,html {

    width: 100%;
    margin: auto;
    background: url('../imagenes/wallhaven-316649.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fffff0;

}
/****************/
/**SOCIAL********/
/***************/
.social {
    position: fixed;
    /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: -50px;
    /* Establecemos la barra en la izquierda */
    top: 100px;
    /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000;
    /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
.social ul {
    list-style: none;
}
.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 20px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.social ul li .icon-facebook {
    background: #3b5998;
}
.social ul li .icon-twitter {
    background: #00abf0;
}
.social ul li .icon-googleplus {
    background: #d95232;
}
.social ul li a:hover {
    background: #000;
    padding: 10px 30px;
}




/*_________________*/
/*SEPARACION_______*/
.warp {
    width: 95%;
    max-width: 120em;
    float: left;
    margin-left: 10%;
    padding-bottom: 2em;

  }
.izquierda {
  float: left;
  width: 60%;
  max-width: 60em;
  text-decoration: none;
  padding: 20px;

}
.izquierda img {
  width: 16%;

 padding-left: 80%;
 position: relative;
 top: -12em;
 opacity: 0;
 -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
 transition: opacity 0.35s, transform 0.35s;
 -webkit-transform: translate3d(-400px,0, 0);
 transform: translate3d(-400px,0,0);
}
.izquierda img:hover {
 transition: all 500ms ease;
 opacity: 1;
 -webkit-transform: translate3d(0,0,0);
 transform: translate3d(0,0,0);
}
.derecha {
  float: left;
  width: 35%;
  max-width: 35em;
  min-width: 35em;
  text-decoration: none;
  padding: 20px;
  height: 40em;
  position: fixed;
  top: 8em;
  left: 60%;


}

.vueltaindex {
  padding-left: 25%;
  padding-right: 25%;
}
/****************/
/**********CV****/
/***************/
.headcv{
text-decoration: none;
color: #CCD1D1;
background-color: #273746  ;
padding-top: .5em;
padding-left: .5em;
min-width: 100%;

}
.Datos{
background-color: #566573;
color: #CCD1D1;
min-width: 100%;
height: 11.5em;
overflow: hidden;
padding-left: 1em;
position: relative;
top: -1.4em;
opacity: .3;
display: block;
}
.Formacion{
  width: 40%;
  background-color: #566573;
  color: #CCD1D1;
  float: left;
  margin:1%;
  padding-left: 4%;
  padding-right: 4%;
  opacity: .3;
  display: block;
}
.Idiomas{
  width: 40%;
  background-color: #566573;
  color: #CCD1D1;
  float: left;
  margin:1%;
  padding-left: 4%;
  padding-right: 4%;
  opacity: .3;
  display: block;
}
.Experiencia{
  width: 40%;
  background-color: #566573;
  color: #CCD1D1;
  float: left;
  margin:1%;
  padding-left: 4%;
  padding-right: 4%;
  opacity: .3;
  display: block;
}
.Informatica{
  width: 40%;
  background-color: #566573;
  color: #CCD1D1;
  float: left;
  margin:1%;
  padding-left: 4%;
  padding-right: 4%;
  opacity: .3;
  display: block;
}
.Otros {
  width: 40%;
  background-color: #566573;
  color: #CCD1D1;
  float: left;
  margin:1%;
  padding-left: 4%;
  padding-right: 4%;
  position: relative;
  top: -8em;
  opacity: .3;
  display: block;
}

div  :hover{

  opacity: 1;
}

/*********************/
/***********CONTACTO**/
/********************/
.header{
  text-align:center;
  padding-left: 1.5em;
  font-size:3em;
  color:#fffff0;
  letter-spacing: 7px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur 1.75s ease-out infinite;
  text-shadow:0px 0px 3px #190866,
      0px 0px 3px #190866;
}
@keyframes blur{
  from{
      text-shadow:0px 0px 5px #fff,
      0px 0px 5px #fff,
      0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #7B96B8,
      0px 0px 100px #7B96B8,
      0px 10px 75px #7B96B8,
      0px 10px 75px #7B96B8,
      0px 10px 75px #7B96B8,
      0px 10px 75px #7B96B8,
      0px -10px 75px #7B96B8,
      0px -10px 75px #7B96B8;
    }
}
/****************/
/**FORM**********/
/***************/
form {
  position: relative;
  margin : 0 auto;
  text-align: center;

}
#from {
position: relative;
left: 20px;
padding-bottom: 10px;
}

#reply {
  position: relative;
  left: 25px;
  padding-bottom: 10px;
}

#message {
  position: relative;
  left: 18px;
  padding-bottom: 10px;
}
textarea{
height: 100px;
}
label {
  width: 100px;
}
input, textarea {
  border-color: #190866;
  padding : 0 10px;
  margin  : 0;
  width   : 240px;
  background: none;
}
.button2 button {
 border: none;
 background:#190866;
 color: #f2f2f2;
 padding-left: 3em;
 padding-right: 3em;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 top: 20px;
 left: 50px;
 box-sizing: border-box;
 transition: all 500ms ease;
}

.paypal {
    float: left;
    text-decoration: none;
    position: relative;
    top: 3em;
    left: 13em;
  }
