body,html {
    width: 100%;
    height: 100%;
    background: url('../imagenes/wallhaven-453057.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;

}
.header {
  margin:0 auto;
  width: 100%;
  max-height: 400px;
  background-color: #000000;
}

.header img{
  align-content: center;
}




.dropbtn {
    margin: auto;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.planetas {
  /*
    width: 100%;
    max-width: 80vh;
    */
    display: inline-block;
    margin: auto;
    position: relative;
    align-items: center;


}

.planetas-content {
    display: none;
    position: fixed;
    top: 570px;
    left: 20px;
    background-color: #330000;
    min-width: 80em;
    min-height: 20em;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.planetas-content h3,p {
    color: #DAF7A6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.planetas-content h3,p:hover {

}

.planetas:hover .planetas-content {
    display: block;
    overflow: auto;
}

.planetas:hover .dropbtn {

}

ul {
  list-style:none;
  display: inline-block;
}

li{
  float: left;
  position: relative;
}

/**------------------**/
/**----BOTON INICIO--**/
/**-----------------**/

button {
 border: none;
 background: #723F89;
 color: #f2f2f2;
 padding-left: 250px;
 padding-right: 250px;

 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}
button:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 23px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}
button:hover:before {
 width: 100%;
}
