body,html {

    width:99%;
    height: 100%;
    background: url('../imagenes/Copia de wallhaven-134284.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}


h1{
  background-color: #ffffff;
  margin-left: 3em;
  margin-right: 3em;
  opacity: 0.55;
  text-align: center;
  border-radius: 5px;
}

.grid {
  margin-left: 20%;
  margin-right: 20%;
  width: 1200px;
  float: left;


}
.empre{
background-color: #ffffff;

margin: 10px;
padding: 10px;
border-radius: 5px;
max-width: 300px;
max-height: 500px;
min-height: 500px;
min-width: 300px;
overflow-y: auto;
overflow-x: hidden;
float: left;
position: relative;
display: table-caption;
opacity: 0.55;
/*
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-webkit-transform: translate3d(-40px,0, 0);
transform: translate3d(-40px,0,0);
*/
}
.empre h3{
  text-align: center;
  width: 100%;
  height: 70px;
  padding-top: 50px;
  display: block;
  position: relative;
  top: -80px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.empre h3:hover {
  opacity: 1;
  -webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
  -webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;

}

.empre h2{
text-align: center;
}
.empre  h2:hover {

}

.empre p {
display: block;
position: relative;
top: -80px;
text-align: justify;
}







/**------------------**/
/**----BOTON INICIO--**/
/**-----------------**/

button {
 border: none;
 background: #723F89;
 color: #f2f2f2;
 padding-left: 250px;
 padding-right: 250px;

 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}
button:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 23px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}
button:hover:before {
 width: 100%;
}
