* {}

body,html {

    width: 100%;

    background: url('../imagenes/wallhaven-257938.png') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fffff0;

}

.warp {

    width:95%;
    max-width:1000px;
    margin: 0 auto;
    overflow:hidden;
}

iframe {
  width: 500px;
  height: 323px;
  margin: auto;

}
.flash {
  align-items: center;
  margin: auto;
  width: 100%;
}
p {
  text-align: justify;
}
p :hover{
  background-color: white;
}

h1 {
  margin: auto;
  align-items: center;
  text-align: center;
}
