body,html {

    width:100%;
    height: 100%;
    background: url('../imagenes/wallhaven-228422.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;

}

.header {
    background-color: rgba(95, 106, 106,0.8);
  width: 100%;
  height: 2em;
  text-align: center;
  text-decoration: none;
  font-size: 3em;
  padding-top: 0.5em;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.warp {
    padding-top: 5em;
    width: 95%;
    max-width: 100em;
    float: left;
    margin-left: 10%;
    padding-bottom: 2em;
    background-color: rgba(255,255,255,0.2);

  }

.cuerpo {
  float: left;
  width: 70%;

  text-decoration: none;
  padding: 20px;

}

.cuerpo img {
 width: 80%;
margin-left: 10%;
}

.entrevista {
      background-color: rgba(23, 32, 42,0.2);
  float: left;
  width: 20%;

  text-decoration: none;
  padding: 20px;
  height: 50%;
  overflow: scroll;
  position: fixed;
  top: 8em;
  left: 70%;


}

h2{

}

p {
  text-align: justify;
}
