

#container
{
    height:2000px;
}

#container DIV
{
    margin:50px;
    padding:50px;
    background-color:lightgreen;
}

.hideme
{
    opacity:0;
}


















/* General SVG styles to center it on page */
/* svg {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
} */

/* Below we are targeting our path element. Lets give dasharray and the offset some values. Try a value under 100 and another value over 1000. */
/* Here I have selected the paths inside the g element with a class of mainbody so the eyes and nose remain unaffected. The element "g" is for group and is like using a div to organize the paths.*/
/* .mainBody path {
  stroke-dasharray:0;
  stroke-dashoffset:0;
  animation: draw 2s linear forwards;
} */

/* Here we are making an animation and removing the dash offset so it comes into view */
/* @keyframes draw {
  to {
  stroke-dashoffset:0;
  }
} */

/* .slider {
  background: url(../img/prueba SVG animado_animated.svg);

  background-size: cover;
  background-position: center;
} */

/* .slider:hover {
  background-color: #ff0000;
} */



/*

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body  {
	height: 100%;
	width: 100%;
}

body {
	padding: 24px;
	color: white;
	background-color: #1f201c;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.outer {
	width: 800px;
	height: 100%;
	max-height: 600px;
	padding: 24px;
	background-color: white;
}

.wrapper {
	position: relative;
	height: 100%;
	background-color: grey;
	background: linear-gradient(to bottom, #50A7C2 0%, #B7F8DB 100%);
}

.burger {
	z-index: 3;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	width: 100px;
	height: 100px;
	padding: 0;
	background-color: #1f201c;
	border: none;
	outline: none;
	&:hover {
		cursor: pointer;
	}
}

.isNavOpen {
	overflow: hidden;
}

 */









/* body,
html {
  height: 100%;
  background: #110101;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.slideshow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .slider {
    width: 100vw;
    height: 100vw;
    z-index: 2;

    * {
      outline: none;
    }

    .item {
      height: 100vh;
      width: 100vw;
      position: relative;
      overflow: hidden;
      border: none;

      .text {
        display: none;
      }

      img {
        min-width: 101%;
        min-height: 101%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .slick-dots {
    position: fixed;
    z-index: 100;
    width: 40px;
    height: auto;
    bottom: auto;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    left: auto;
    color: #fff;
    display: block;

    li {
      display: block;
      width: 100%;
      height: auto;

      & button {
        position: relative;
        width: 20px;
        height: 15px;
        text-align: center;

        &:before {
          content: '';
          background: #fff;
          color: #fff;
          height: 2px;
          width: 20px;
          border-radius: 0;
          position: absolute;
          top: 50%;
          right: 0;
          left: auto;
          transform: translateY(-50%);
          transition: all .3s ease-in-out;
          opacity: 0.6;
        }
      }

      &.slick-active {
        button {
          &:before {
            width: 40px;
            opacity: 1;
          }
        }
      }
    }
  }

  &.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50vw;
    pointer-events: none;

    .slider {
      left: 0;
      position: absolute;
    }
  }
}

.slideshow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 80px;
  width: 100vw;
  text-align: center;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  pointer-events: none;
  text-transform: uppercase;
  letter-spacing: 20px;
  line-height: 0.8;

  @media (max-width: 767px) {
    font-size: 40px;
  }

} */
