svg {
  pointer-events: none;
}

/* Demo 1 */

.demo-drawings figcaption {
  margin: 0 auto 0 auto;
  max-width: 40em;
  width: 95%;
  text-align: center;
}

.demo-drawings figure:first-child figcaption {
  margin-top: 8em;
}

.demo-drawings figcaption h2 {
  font-weight: 300;
  font-size: 3em;
  margin-bottom: 0.2em;
}

.demo-drawings figcaption p {
  font-size: 1.3em;
}

.drawings {
  position: relative;
  max-height: 600px;
}

.illustration {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.line-drawing, .illustration {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.line-drawing path {
  fill: none;
  stroke: white;
  stroke-width: 3;
}

path.line-round {
  stroke-linecap: round;
}

path.stroke-medium {
  stroke-width: 2;
}

path.stroke-thin {
  stroke-width: 1;
}

/* Demo 2 and demo 3 */

.demo-loading .show, .demo-loading .hide {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.codrops-logo {
  position: relative;
  margin: 0 auto 30px;
  width: 80px;
  height: 80px;
  background: url(../img/codrops_logo.png) no-repeat 50% 50%;
}

.demo-loading .headline {
  position: relative;
  color: #2173a3;
  text-align: center;
}

.demo-loading .headline div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5ca9d6;
}

.demo-loading .headline h1 {
  margin: 0;
  padding: 3em 0;
  font-size: 3em;
  position: relative;
  z-index: 10;
}

.demo-loading .headline h1 span:last-child {
  display: block;
  font-weight: 300;
  font-size: 50%;
}

.demo-loading section {
  margin: 2em auto 8em;
  max-width: 700px;
  text-align: center;
}

.demo-loading section figure {
  position: relative;
  display: inline-block;
  margin: 0 15px 20px;
  width: 200px;
  text-align: left;
}

.demo-loading section figure img {
  display: block;
  margin: 0 auto 10px;
}

.demo-loading svg.line-drawing {
  position: absolute;
  max-width: 100%;
  z-index: 10;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.demo-loading svg.line-drawing path {
  fill: none;
  stroke-width: 2;
  stroke: #ddd;
}

.demo-loading svg.line-drawing path.darker {
  stroke: #aaa;
}

.demo-loading svg#rectangle {
  width: 100%;
  height: 100%;
}

.demo-loading svg#headline {
  top: 50%;
  margin-top: 2px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.demo-loading svg#related {
  width: 100%;
  height: 100%;
  max-width: 490px;
}

/* Positions */

#logo {
  top: 39px;
}

#demo-link-1, #demo-link-2, #demo-link-3 {
  top: 148px;
}

#demo-link-1 {
  -webkit-transform: translateX(-130px);
  transform: translateX(-130px);
}

#demo-link-3 {
  -webkit-transform: translateX(48px);
  ;
  transform: translateX(48px);
  ;
}

@media screen and (max-width: 35.375em) {
  .demo-loading .headline h1 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 30em) {
  .related {
    font-size: 0.8em;
  }
}
