$primary: #ff0000;

h1 {
  color: $primary
  // margin: 5rem; 
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px);
background-color: $primary;
width: 100px;
height: 200px;
}
