html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: rgba(0, 60, 82, 0.5);
}

/* -------------------------------------------bgIMG------------------------------------------- */

/* -------------------------------------------bgIMG------------------------------------------- */

/* -------------------------------------------bgIMG------------------------------------------- */

.bgIMGabstract1 {
  transform: translateZ(0);
  background-image: url("../img/bgAbstract/wallhaven-378003.html");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 1rem;
}

.bgIMGabstract2 {
  transform: translateZ(0);
  background-image: url("../img/bgAbstract/wallhaven-378004.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 1rem;
}

.bgIMGabstract5 {
  transform: translateZ(0);
  background-image: url("../img/bgAbstract/wallhaven-378011.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 1rem;
}

.bgIMGabstract6 {
  transform: translateZ(0);
  background-image: url("../img/bgAbstract/wallhaven-378014.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 1rem;
}

.bgIMGabstract7 {
  transform: translateZ(0);
  background-image: url("../img/bgAbstract/fondo-social-media.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 1rem;
}

.bgIMGabstract8 {
  transform: translateZ(0);
  background-image: url("../img/bgAbstract/wallhaven-652913.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 1rem;
}

.bgIMGabstract9 {
  transform: translateZ(0);
  background-image: url("../img/bgAbstract/wallhaven-656084.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 1rem;
}

.bgIMGabstract10 {
  transform: translateZ(0);
  background-image: url("../img/bgAbstract/wallhaven-656086.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 1rem;
}

.bgIMGabstract11 {
  transform: translateZ(0);
  background-image: url("../img/bgAbstract/wallhaven-656094.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 1rem;
}

.bgIMGabstract12 {
  transform: translateZ(0);
  background-image: url("../img/bgAbstract/wallhaven-657115.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 1rem;
}

.cloudDiv {
  position: relative;
  height: 300px;
  width: 300px;
  z-index: 1;
}

.cloudDiv2 {
  position: relative;
  height: 300px;
  width: 300px;
  z-index: 1;
  max-width: 300px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cloudDiv .textCloud {
  z-index: 20 !important;
  position: absolute;
  top: 100px;
  left: 3px;
}

.cloudDiv .cloud {
  height: 125px;
  background: #fff;
  width: 300px;
  border-radius: 75px;
  position: absolute;
  top: 100px;
  left: -0px;
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.cloudDiv .cloud:after {
  display: inline-block;
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  top: -65px;
  left: 180px;
  background: #fff;
  z-index: 2;
}

.cloudDiv .cloud:before {
  display: inline-block;
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  top: -90px;
  left: 50px;
  background: #fff;
  z-index: 2;
}

.bgIMG21 {
  background-image: url("../img/wallpaper-design-flower-line-pattern-9-wallpaper-1024x1024-v2.jpg");
  background-position: 100% top;
  background-attachment: fixed;
}

.bgIMG21nrm {
  background-image: url("../img/wallpaper-design-flower-line-pattern-9-wallpaper-1024x1024-v2.jpg");
  background-position: 100% top;
  background-attachment: fixed;
}

.bgIMG21neg {
  background-image: url("../img/wallpaper-design-flower-line-pattern-9-wallpaper-1024x1024-v2inv.jpg");
  background-position: 100% top;
  background-attachment: fixed;
}

.bgIMG21bw {
  background-image: url("../img/wallpaper-design-flower-line-pattern-9-wallpaper-1024x1024-v2bw.jpg");
  background-position: 100% top;
  background-attachment: fixed;
}

.softwareAmedidaFondo {
  background-image: url("../img/softwareAmedidaFondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
}

.softwareMedida {
  background-image: url("../img/software-Medida-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
}

.softwareDeGestion {
  background-image: url("../img/software-gestion-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
}

.IngenieriadelSoftware {
  background-image: url("../img/IngenieriadelSoftware.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
}

.sliderConsultoria {
  background: url(../img/consultoria-informatica-asturias.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}

.consultoriaHome {
  background-image: url("../img/consultoria-informatica-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 0;
}

.consultoriaCampos {
  background-image: url("../img/consultoriaCampos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.softwareHome {
  background-image: url("../img/softwareHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.sliderSoftware {
  background: url(../img/softwareHome1.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}

/*MARKETING*/

.sliderMarketing {
  background: url(../img/marketing-digital-asturias.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}

.marketingHome {
  background-image: url("../img/marketing-digital-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.marketingDiseñoWeb {
  background-image: url("../img/marketing-dise%c3%83%c2%b1o-web-asturias.html");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.marketingDiseñoWeb1 {
  background-image: url("../img/marketing-dise%c3%83%c2%b1o-web-asturias.html");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 0;
}

.marketingSocialMedia {
  background-image: url("../img/marketingSocialMedia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.marketingSocialMedia1 {
  background-image: url("../img/marketingSocialMedia1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 0;
}

.marketingSEO {
  background-image: url("../img/posicionamiento-web-asturias-seo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.marketingSEO1 {
  background-image: url("../img/posicionamiento-web-asturias-seo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 0;
}

.marketingInboundMarketing {
  background-image: url("../img/inbound-marketing-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.marketingInboundMarketing1 {
  background-image: url("../img/inbound-marketing-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 0;
}

.marketingEcommerce {
  background-image: url("../img/desarrollo-tienda-online-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.marketingEcommerce1 {
  background-image: url("../img/desarrollo-tienda-online-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 0;
}

.marketingAnaliticaWeb {
  background-image: url("../img/marketing-analitica-web-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.marketingAnaliticaWeb1 {
  background-image: url("../img/marketing-analitica-web-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 0;
}

.marketingSocialAds {
  background-image: url("../img/marketing-social-ads-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.marketingSocialAds1 {
  background-image: url("../img/marketing-social-ads-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 0;
}

.marketingCampañasSEM {
  background-image: url("../img/marketing-campa%c3%83%c2%b1as-SEM-asturias.html");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.marketingCampañasSEM1 {
  background-image: url("../img/marketing-campa%c3%83%c2%b1as-SEM-asturias.html");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 0;
}

/*INFORMATICA*/

.informaticaServicioTecnicoInformatico {
  background-image: url("../img/informaticaServicioTecnicoInformatico.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.sliderInformatica {
  background: url(../img/mantenimiento-informatico-en-asturias.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}

.informaticaHome {
  background-image: url("../img/mantenimiento-informatico-en-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.informaticaHardwareInfraestructurasIT {
  background-image: url("../img/hardware-para-empresas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.informaticaHardwareInfraestructurasIT1 {
  background-image: url("../img/hardware-para-empresas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 0;
}

@media (max-width: 991px) {
  .informaticaHardwareInfraestructurasIT {
    height: 38vh !important;
  }
}

.serviciosNube {
  background-image: url("../img/Informatica-servicios-Nube-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.serviciosNube1 {
  background-image: url("../img/Informatica-servicios-Nube-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 0;
}

.informaticaPlanesMantenimiento {
  background-image: url("../img/servicio-tecnico-informatico-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.informaticaPlanesMantenimiento1 {
  background-image: url("../img/servicio-tecnico-informatico-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding: 8rem 0;
}

.sliderPagoOnline {
  background-image: url("../img/pago-asturias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
}

/* -------------------------------------------SLIDER------------------------------------------- */

/* -------------------------------------------SLIDER------------------------------------------- */

/* -------------------------------------------SLIDER------------------------------------------- */

.slider {
  height: 100vh;
  opacity: 0;
}

.sliderContacto {
  background: url(../img/contactoHome1.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}

.sliderDescargas {
  background: url(../img/descargasHome1.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}