body,
html {
  width: 100%;
  height: 100%;
  /* background-color: #003c52; */
}

body {
  font-family: Calibri, 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.fuenteCalibri {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif !important;
}

.fuenteGrande {
  font-size: 4rem !important
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #003c52;
}

hr.light {
  border-color: #fff;
}

a {
  color: #003c52;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #003c52;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Calibri, 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
}

p {
  font-size: 1.2rem;
}

p.lead {
  font-size: 1.4rem;
}

.bg-primary {
  background-color: #003c52 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.text-logo {
  font-size: 3rem;
  font-family: Calibri;
  letter-spacing: 2px;
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

@media (max-width:750px) {
  h1.section-heading {
    font-size: 2.4rem !important;
    font-weight: 700;
    overflow: hidden;
  }
  h2.section-heading {
    font-size: 1.8rem !important;
    font-weight: 700;
    overflow: hidden;
  }
}

@media (max-width:350px) {
  h.section-heading {
    font-size: 1.8rem !important;
    font-weight: 700;
    overflow: hidden;
  }
  h2.section-heading {
    font-size: 1.3rem !important;
    font-weight: 700;
    overflow: hidden;
  }
}

::-moz-selection {
  color: #fff;
  background: #003c52;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #003c52;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.sec-min-100vh {
  min-height: 100vh;
}

/* .sec-min-100vh div {
position: absolute;
top: 50%;
display: block;
width: 100%;
height: 100%;
} */

.softwareCol {
  height: calc(100vh-60px) !important;
  /* width: 33vh; */
}

@media screen and (max-width:767px) {
  .marketingCol {
    padding: 3px 0px !important;
  }
  .informaticaCol {
    padding: 3px 0px !important;
  }
}

@media screen and (max-width:767px) {
  .softwareCol {
    padding: 3px 0px !important;
  }
}

@media screen and (max-width:991px) {
  .marketingCol {
    padding: 3px !important;
  }
  .informaticaCol {
    padding: 3px !important;
  }
  .softwareCol {
    padding: 3px !important;
    height: 50vh !important;
  }
}

.hidden {
  opacity: 0;
}

.py-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

/* -------------------------------------------coloresSecciones------------------------------------------- */

/* -------------------------------------------coloresSecciones------------------------------------------- */

/* -------------------------------------------coloresSecciones------------------------------------------- */

.bg-separador {
  background-color: rgb(245, 245, 245);
  height: 80px;
}

#SepInformatica div.separador {
  margin-top: 30px;
  height: 20px;
  width: 100vw;
  background-color: #1385c7;
}

#SepSoftware div.separador {
  margin-top: 30px;
  height: 20px;
  width: 100vw;
  background-color: #b00;
}

#SepMarketing div.separador {
  margin-top: 30px;
  height: 20px;
  width: 100vw;
  background-color: #4bbb00;
}

#SepConsultoria div.separador {
  margin-top: 30px;
  height: 20px;
  width: 100vw;
  background-color: #979797;
}

.separador p {
  text-transform: uppercase;
  line-height: 1.2rem;
  font-size: 32px;
}

.link-informatica:hover,
.link-informatica:focus,
.link-informatica:active {
  color: #fff;
  background-color: rgba(19, 133, 199, 0.8) !important;
  border-color: rgba(19, 133, 199, 0.8) !important;
}

.link-software:hover,
.link-software:focus,
.link-software:active {
  color: #fff;
  background-color: rgb(187, 0, 0) !important;
  border-color: rgb(187, 0, 0) !important;
}

.link-marketing:hover,
.link-marketing:focus,
.link-marketing:active {
  color: #fff;
  background-color: rgba(75, 187, 0, 0.8) !important;
  border-color: rgba(75, 187, 0, 0.8) !important;
}

.link-consultoria:hover,
.link-consultoria:focus,
.link-consultoria:active {
  color: #fff;
  background-color: rgb(151, 151, 151) !important;
  border-color: rgb(151, 151, 151) !important;
}

/* -------------------------------------------mainNav------------------------------------------- */

/* -------------------------------------------mainNav------------------------------------------- */

/* -------------------------------------------mainNav------------------------------------------- */

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: Calibri, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  /* text-transform: uppercase; */
  color: #003c52;
  font-family: Calibri, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

ul.navbar-nav {
  margin-top: 1.6rem;
}

/* p */

#mainNav .navbar-nav>li.nav-item>a.nav-link>p.nav-text,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus>p.nav-text {
  font-size: 1.1rem;
  /* tamaño un poco mas grande */
  font-weight: 700;
  /* peso de letra */
  text-transform: uppercase;
  /* PONEMOS LA LETRA EN MAYUSCULAS */
  color: rgba(255, 255, 255, 0.7);
  /* color inicio transparente */
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* p:hover */

#mainNav .navbar-nav>li.nav-item>a.nav-link>p.nav-text:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus>p.nav-text:hover {
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
}

/* a.active>p */

#mainNav .navbar-nav>li.nav-item>a.nav-link.active>p.nav-text,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active>p.nav-text {
  color: rgba(0, 60, 82, 1);
  background-color: transparent;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* a.active>p:hover */

#mainNav .navbar-nav>li.nav-item>a.nav-link.active>p.nav-text:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active>p.nav-text:hover {
  color: rgba(0, 60, 82, 1);
  background-color: transparent;
}

/* BEFORE */

/* p:before */

#mainNav .navbar-nav>li.nav-item>a.nav-link>p.nav-text:before,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus>p.nav-text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  color: rgba(0, 60, 82, 1);
  background-color: transparent;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/* a.active>p:before */

/* MODIFICAR ESTA PARA CADA COLOR NECESARIO */

/* #mainNav .navbar-nav>li.nav-item>a.nav-link.active>p.nav-text:before,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active>p.nav-text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 60, 82);
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
} */

/* -------------------- COLORES MENU NAVEGACION DISTINGUIDOS POR SECCION -------------------- */

/* -------------------- COLORES MENU NAVEGACION DISTINGUIDOS POR SECCION -------------------- */

/* -------------------- COLORES MENU NAVEGACION DISTINGUIDOS POR SECCION -------------------- */

#mainNav .navbar-nav>li.nav-item>a.nav-link.active>p.colorInformatica:before,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active>p.colorInformatica:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #1385c7 !important;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active>p.colorSoftware:before,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active>p.colorSoftware:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #bb0000 !important;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active>p.colorMarketing:before,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active>p.colorMarketing:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #4bbb00 !important;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active>p.colorConsultoria:before,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active>p.colorConsultoria:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #979797 !important;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* -------------------- FIN COLORES MENU NAVEGACION DISTINGUIDOS POR SECCION -------------------- */

/* -------------------- FIN COLORES MENU NAVEGACION DISTINGUIDOS POR SECCION -------------------- */

/* -------------------- FIN COLORES MENU NAVEGACION DISTINGUIDOS POR SECCION -------------------- */

/* p:hover:before */

#mainNav .navbar-nav>li.nav-item>a.nav-link>p.nav-text:hover:before,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus>p.nav-text:hover:before {
  color: #003c52;
}

/* a.active>p:hover:before */

#mainNav .navbar-nav>li.nav-item>a.nav-link.active>p.nav-text:hover:before,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active>p.nav-text:hover:before {
  /* background-color: transparent; */
  /* background-color: red !important; */
}

#mainNav.navbar-shrink {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
}

#mainNav.navbar-shrink .navbar-brand {
  color: #003c52;
}

#mainNav.navbar-shrink .navbar-brand:focus,
#mainNav.navbar-shrink .navbar-brand:hover {
  color: #003c52;
}

#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
  color: #212529;
}

#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link>p.nav-text,
#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus>p.nav-text {
  color: #003c52;
}

#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover,
#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
  color: #003c52;
}

#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link>p.nav-text:hover,
#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus>p.nav-text:hover {
  color: #111;
}

@media (min-width: 992px) {
   
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #003c52;
  }
  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #003c52;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link>p.nav-text,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus>p.nav-text {
    color: #003c52;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #003c52;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link>p.nav-text:hover,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus>p.nav-text:hover {
    color: #111;
  }
}

@media(max-width: 997px) {
  /* BLOQUE INSTRUCCIONES PARA PEQUEÑO SOLO   !important  */
  #mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff !important;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link>p.nav-text,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus>p.nav-text {
    color: #003c52 !important;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link>p.nav-text:hover,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus>p.nav-text:hover {
    color: #212121 !important;
  }
}

/* -------------------------------------------hoverDropdownNavbar------------------------------------------- */

/* -------------------------------------------hoverDropdownNavbar------------------------------------------- */

/* -------------------------------------------hoverDropdownNavbar------------------------------------------- */

/*transparente*/

#mainNav ul.navbar-nav li.dropdownHover:hover {
  /*  position: relative; */
}

#mainNav ul.navbar-nav li.dropdownHover:hover div.dropdown-menu {
  /*   position: absolute;
  top: 100%;
  right: 0; */
  display: block;
  background-color: rgb(255, 255, 255);
  border-color: rgba(0, 60, 82, 0);
  z-index: 100;
  /*  min-width: 300px; */
  min-width: 30vw;
}

#mainNav ul.navbar-nav li.dropdownHover:hover div.dropdown-menu a {
  color: rgba(0, 60, 82, 0.5);
  text-transform: uppercase;
  padding: 1vh 8vw 1vh 2vw;
  margin: 0;
  border-radius: 3px;
  font-weight: 700;
}

#mainNav ul.navbar-nav li.dropdownHover:hover div.dropdown-menu a:hover,
#mainNav ul.navbar-nav li.dropdownHover:hover div.dropdown-menu a:focus,
#mainNav ul.navbar-nav li.dropdownHover:hover div.dropdown-menu a:active {
  color: rgb(0, 60, 82);
  background-color: rgba(0, 0, 0, 0.082);
}

/*opaca*/

#mainNav.navbar-shrink ul.navbar-nav li.dropdownHover:hover div.dropdown-menu {
  display: block;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(0, 60, 82, 0);
  z-index: 100;
}

#mainNav.navbar-shrink ul.navbar-nav li.dropdownHover:hover div.dropdown-menu a {
  color: #003c52;
  text-transform: uppercase;
}

#mainNav.navbar-shrink ul.navbar-nav li.dropdownHover:hover div.dropdown-menu a:hover,
#mainNav.navbar-shrink ul.navbar-nav li.dropdownHover:hover div.dropdown-menu a:focus,
#mainNav.navbar-shrink ul.navbar-nav li.dropdownHover:hover div.dropdown-menu a:active {
  color: rgb(0, 0, 0);
  background-color: rgb(216, 216, 216);
}

@media (min-width:1200px) {
  #mainNav ul.navbar-nav li.dropdownHover:hover {
    position: relative;
  }
  #mainNav ul.navbar-nav li.dropdownHover:hover div.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 30vw;
  }
}

@media (max-width:1199px) {
  #mainNav ul.navbar-nav li.dropdownHover:hover div.dropdown-menu {
    width: 75vw;
    margin: -1rem 1vw 0 1vw;
    border: solid 1px rgba(0, 60, 82, 0.5);
  }
}

/* -------------------------------------------header------------------------------------------- */

/* -------------------------------------------header------------------------------------------- */

/* -------------------------------------------header------------------------------------------- */

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  /*   background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

header.masthead video {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100% !important;
  z-index: -1;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 700;
  color: #003c52;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.5rem;
  }
  .fuenteGrande {
    font-size: 5rem !important
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
  .fuenteGrande {
    font-size: 6rem !important
  }
  header.masthead p {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
  .fuenteGrande {
    font-size: 7rem !important
  }
}

@media (max-width: 550px) {
  header.masthead h1 {
    font-size: 2rem;
  }
  .fuenteGrande {
    font-size: 4rem !important
  }
  header.masthead a {
    padding: 1rem 5rem;
    text-align: center;
    margin: 0rem;
  }
}

/* -------------------------------------------subLinkSoftware------------------------------------------- */

/* -------------------------------------------subLinkSoftware------------------------------------------- */

/* -------------------------------------------subLinkSoftware------------------------------------------- */

.subLinkSoftware {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  padding-bottom: 1rem;
}

.subLinkSoftware:hover {
  background-color: #003c52;
  border-radius: 3px;
  color: #fff;
}

.subLinkSoftware a.linkSftw {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 3px;
}

.subLinkSoftware:hover a.linkSftw,
.subLinkSoftware:link a.linkSftw,
.subLinkSoftware:visited a.linkSftw,
.subLinkSoftware:active a.linkSftw {
  text-decoration: none;
  color: #fff;
}

.subLinkSoftware a.linkSftw div.service-box i.sr-icons,
  {
  text-decoration: none;
  color: #003c52;
}

.subLinkSoftware:hover a.linkSftw div.service-box i.sr-icons,
.subLinkSoftware:link a.linkSftw div.service-box i.sr-icons,
.subLinkSoftware:visited a.linkSftw div.service-box i.sr-icons,
.subLinkSoftware:active a.linkSftw div.service-box i.sr-icons {
  color: #fff;
}

.subLinkSoftware:hover a.linkSftw div.service-box i.sr-icons,
.subLinkSoftware:link a.linkSftw div.service-box i.sr-icons,
.subLinkSoftware:visited a.linkSftw div.service-box i.sr-icons,
.subLinkSoftware:active a.linkSftw div.service-box i.sr-icons {
  color: #fff;
}

.service-box {
  max-width: 400px;
}

/* -------------------------------------------PORTFOLIO------------------------------------------- */

/* -------------------------------------------PORTFOLIO------------------------------------------- */

/* -------------------------------------------PORTFOLIO------------------------------------------- */

.portfolio-box {
  position: relative;
  display: block;
  /* max-width: 650px; */
  margin: 0 auto;
}

@media (max-width:991px) {
  .portfolio-box {
    min-width: 100% !important;
    min-height: 100% !important;
  }
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  /* opacity: 0; */
  visibility: hidden;
  color: #fff;
  background-color: rgba(0, 60, 82, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: Calibri, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  /* opacity: 1 !important; */
  visibility: visible;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  /* opacity: 1 */
  visibility: visible;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

@media (max-height: 568px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category h1 {
    font-size: 24px !important;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category h2 {
    font-size: 20px !important;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category p {
    font-size: 16px !important;
  }
}

/* ------------------------------------------- col-responsive ------------------------------------------- */

/* ------------------------------------------- col-responsive ------------------------------------------- */

/* ------------------------------------------- col-responsive ------------------------------------------- */

.row-eq-height {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.row-eq-height a {
  flex-direction: column !important;
}

.responsiveCol {
  height: 100% !important;
  flex-direction: column !important;
}

.responsiveCol p {
  flex: 1 !important;
  height: 100% !important;
}

/* -------------------------------------------CARTAS------------------------------------------- */

/* -------------------------------------------CARTAS------------------------------------------- */

/* -------------------------------------------CARTAS------------------------------------------- */

.cartaLink {
  min-height: 100%;
  height: 100%;
}

.grid__item {
  min-height: 100%;
  flex-direction: column;
}

.grid__item-img--bw {
  color: rgb(255, 255, 255);
  filter: grayscale(1);
}

.grid__item-img--blur {
  filter: blur(6px);
}

.grid__item-img--scaled {
  transform: scale3d(1.2, 1.2, 1);
}

.grid__item-img--opaque {
  opacity: .7;
}

.grid__item-cta {
  text-align: center;
  width: 100%;
  font-weight: bold;
  display: block;
  font-size: 1.5rem;
  color: #003c52;
  display: flex;
  justify-content: flex-end;
}

.grid__item-cta span {
  flex: none;
  white-space: pre;
  opacity: 0;
}

.cartaLink:link {
  text-decoration: none;
}

.carta {
  background-color: rgba(30, 30, 30, .9);
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(250, 250, 250, 0.9);
  border-width: thin;
  padding: 2rem 3rem;
  margin: 2rem 1rem;
  min-width: 350px;
  min-height: 200px;
  display: block;
  position: relative;
  color: rgb(255, 255, 255);
  height: 85%;
  flex-direction: column;
  /*   text-overflow: ellipsis;
  overflow: scroll; */
}

.imagen-carta {
  margin: auto;
  border-right-style: solid;
  border-right-color: rgba(150, 150, 150, 0.0);
  border-right-width: thin;
  max-width: 50%;
}

@media screen and (min-width: 994px) {
  .imagen-carta {
    margin: 0 auto;
    border-right-color: rgba(150, 150, 150, 0.5);
  }
  .carta {
    padding: 2rem 3rem 2rem 1rem;
  }
}

.textoCarta {
  color: #fff;
}

.textoCarta p {
  padding: 4px 0rem;
  /* opacity: 0; */
}

.listaHideme {
  list-style: none;
}

.listaHideme li {
  padding: 4px 0rem;
  opacity: 0;
}

/* ------------------------------------------- TXT - BTN ------------------------------------------- */

/* ------------------------------------------- TXT - BTN ------------------------------------------- */

/* ------------------------------------------- TXT - BTN ------------------------------------------- */

.text-primary {
  color: #003c52 !important;
}

.border-primary {
  border-color: rgba(0, 60, 82, 0.2) !important;
}

.border-light {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: Calibri, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #003c52;
  border-color: #003c52;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #003c52;
}

.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(00, 60, 82, 0.5) !important;
}

/* -------------------------------------------footer------------------------------------------- */

/* -------------------------------------------footer------------------------------------------- */

/* -------------------------------------------footer------------------------------------------- */

.footer {
  background-color: rgba(0, 60, 82, 1);
  padding: 0rem 0;
  color: #fff;
  border-top: solid rgba(255, 255, 255, 0.3) 1px;
}

.footer a {
  text-decoration: none;
  color: #fff;
  transition: all ease 1s;
}

.footer a:hover {
  text-decoration: none;
  color: rgba(200, 200, 200, 0.5);
  /* font-size: 1.5rem; */
}

/* 
//CONFIG
$time: 250ms;
$number: 3;
$ease: cubic-bezier(0.77, 0, 0.175, 1);
$move: 2em;
$color: #fff;
$font: "Roboto Condensed", sans-serif;

//STYLES
html {
	padding: 25vh 10vw;
	text-align: end;
	background-color: #003c52;
}
a {
	cursor: pointer;
	font-family: $font;
	font-weight: 900;
	user-select: none;
	color: $color;
	font-size: 0;
	transform: translate3d(0, 0, 0);
	filter: blur(0);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	span {
		font-size: 20px;
		margin: 0;
		padding: 0;
		display: inline-block;
		position: relative;
		transition: transform $ease $time;
		padding: 0 0.1em;

		@for $i from 0 through $number {
			&:nth-child(#{$i}n) {
				transition-delay: $time*$i/$number;
			}
			&:nth-child(#{$i}n):after {
				transition-delay: $time*$i/$number;
			}
		}
		&:after {
			content: "";
			position: absolute;
			top: 100%;
			left: -1%;
			width: 102%;
			height: $move;
			background: $color;
			transform-origin: top center;
			transform: scaley(0.1);
			transition: transform $ease $time;
		}
	}
	&:hover {
		span {
			transform: translateY(-$move/2);
			&:after {
				transform: scaleY(1);
			}
		}
	}
	&:active {
		span {
			transform: translateY(0);
			transition: transform $ease $time/2;
			transition-delay: 0 !important;
			&:after {
				transform: scaleY(0.5);
				transition: transform $ease $time/2;
				transition-delay: 0 !important;
			}
		}
	}
}
 */

/*  html {
  padding: 25vh 10vw;
  text-align: end;
  background-color: #003c52;
} */

.footer a {
  cursor: pointer;
  /*  font-family: "Roboto Condensed", sans-serif; */
  font-weight: 700;
  user-select: none;
  color: #fff;
  font-size: 0;
  transform: translate3d(0, 0, 0);
  filter: blur(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.footer a span {
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  padding: 0 0.1em;
}

.footer a span:nth-child(0n) {
  transition-delay: 0ms;
}

.footer a span:nth-child(0n):after {
  transition-delay: 0ms;
}

.footer a span:nth-child(1n) {
  transition-delay: 83.3333333333ms;
}

.footer a span:nth-child(1n):after {
  transition-delay: 83.3333333333ms;
}

.footer a span:nth-child(2n) {
  transition-delay: 166.6666666667ms;
}

.footer a span:nth-child(2n):after {
  transition-delay: 166.6666666667ms;
}

.footer a span:nth-child(3n) {
  transition-delay: 250ms;
}

.footer a span:nth-child(3n):after {
  transition-delay: 250ms;
}

.footer a span:after {
  content: "";
  position: absolute;
  top: 100%;
  left: -1%;
  width: 102%;
  height: 2em;
  background: #fff;
  transform-origin: top center;
  transform: scaley(0.1);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
}

.footer a:hover span {
  transform: translateY(-1em);
}

.footer a:hover span:after {
  transform: scaleY(1);
}

.footer a:active span {
  transform: translateY(0);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0 !important;
}

.footer a:active span:after {
  transform: scaleY(0.5);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition-delay: 0 !important;
}

/* -------------------------------------------slider------------------------------------------- */

/* -------------------------------------------slider------------------------------------------- */

/* -------------------------------------------slider------------------------------------------- */

.hideme {
  opacity: 0;
}

.toscroll {
  padding: 0;
}

.scrollme {
  display: none;
  padding-top: 2rem;
  padding-bottom: 8rem;
}

/* -------------------------------------------carousel------------------------------------------- */

/* -------------------------------------------carousel------------------------------------------- */

/* -------------------------------------------carousel------------------------------------------- */

@media screen and (max-width:576px) {
  .carr p {
    display: none;
  }
}

/* -------------------------------------------LOADER------------------------------------------- */

/* -------------------------------------------LOADER------------------------------------------- */

/* -------------------------------------------LOADER------------------------------------------- */

.loader-section {
  display: fixed;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0rem;
  width: 100% !important;
  height: 100% !important;
  z-index: 9000;
  opacity: 1;
}

.load-wrap {
  display: fixed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  height: 100vh;
  width: 100vw;
}

.waitIMG {}

.loader-heading {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif !important;
  color: #003c52;
  font-size: 12rem;
}

.loader-paragraph {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif !important;
  color: #003c52;
  font-size: 2.5rem;
}

.logo-loader {}

.section-left {
  position: fixed;
  top: 0;
  width: 51vw;
  height: 100vh;
  z-index: 8999;
  left: 0;
  background: #fff;
}

.section-right {
  position: fixed;
  top: 0;
  width: 51vw;
  height: 100vh;
  z-index: 8999;
  right: 0;
  background: #fff;
}

/* -------------------------------------------carousel------------------------------------------- */

/* -------------------------------------------carousel------------------------------------------- */

/* -------------------------------------------carousel------------------------------------------- */

.sectionService {
  /*     -webkit-calc: (100vh - 100px);
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    height: calc(100vh - 100px);
     */
  /* height: 100vh; */
  /* min-width: 100vw;
    max-width: 100vw;
    width: 100vw; */
  background-color: aqua;
  -webkit-calc: (100vh - 100px);
  min-height: calc(100vh - 100px);
  /*   width: 100px;
  
  height: 100px;
  
  border: 1px solid #f00;
  
  padding: 10px; */
  /* Firefox */
  /* min-height: -moz-calc(100% - 100px); */
  /* WebKit */
  /* min-height: -webkit-calc(100% - 100px); */
  /* Opera */
  /* 
  min-height: -o-calc(100% - 100px); */
  /* Standard */
  /* 
  min-height: calc(100% - 100px); */
}

/* ------------------------------------------- SVG LOGO ------------------------------------------- */

/* ------------------------------------------- SVG LOGO ------------------------------------------- */

/* ------------------------------------------- SVG LOGO ------------------------------------------- */

@media screen and (max-width:576px) {
  .carr p {
    display: none;
  }
}

/* SVG LOGO */

/* svg {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 0; right: 0;
  bottom: 0; left: 0; 
  margin: auto;
} */

.fondo {
  stroke-dasharray: 1240 1242;
  stroke-dashoffset: 1241;
  animation: yxVBuHTy_draw 1000ms ease-in-out 0ms forwards;
}

.BordFinInterior {
  stroke-dasharray: 1079 1081;
  stroke-dashoffset: 1080;
  animation: yxVBuHTy_draw 1200ms ease-in-out 100ms forwards;
}

.BordFinExterior {
  stroke-dasharray: 1246 1248;
  stroke-dashoffset: 1247;
  animation: yxVBuHTy_draw 1200ms ease-in-out 200ms forwards;
}

.bordeGrueso {
  stroke-dasharray: 1163 1165;
  stroke-dashoffset: 1164;
  animation: yxVBuHTy_draw 1200ms ease-in-out 300ms forwards;
}

.exteriorCrater {
  stroke-dasharray: 445 447;
  stroke-dashoffset: 446;
  animation: yxVBuHTy_draw 1000ms ease-in-out 400ms forwards;
}

.interiorCrater {
  stroke-dasharray: 2111 2113;
  stroke-dashoffset: 2112;
  animation: yxVBuHTy_draw 1000ms ease-in-out 500ms forwards;
}

@keyframes yxVBuHTy_draw {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes yxVBuHTy_fade {
  0% {
    stroke-opacity: 0;
  }
  93.75% {
    stroke-opacity: 0;
  }
  100% {
    stroke-opacity: 0;
  }
}

/* ------------------------------------------- text align ------------------------------------------- */

/* ------------------------------------------- text align ------------------------------------------- */

/* ------------------------------------------- text align ------------------------------------------- */

@media (min-width: 992px) {
  .lg-justify-left {
    text-align: start;
  }
}

/* ------------------------------------------- Speech Bubbles ------------------------------------------- */

/* ------------------------------------------- Speech Bubbles ------------------------------------------- */

/* ------------------------------------------- Speech Bubbles ------------------------------------------- */

hgroup p {
  font-size: 1.4rem;
}

.speech-bubble-left {
  position: relative;
  background: #003c52;
  border-radius: .4em;
  opacity: 0;
}

.speech-bubble-left:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-right-color: #003c52;
  border-left: 0;
  margin-top: -25px;
  margin-left: -25px;
}

.speech-bubble-right-answer {
  position: relative;
  background: #fff;
  border-radius: .4em;
  opacity: 0;
}

.speech-bubble-right-answer:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-color: #fff;
  border-right: 0;
  margin-top: -25px;
  margin-right: -25px;
}

.speech-bubble-left-answer {
  position: relative;
  background: #fff;
  border-radius: .4em;
  opacity: 0;
}

.speech-bubble-left-answer:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-right-color: #fff;
  border-left: 0;
  margin-top: -25px;
  margin-left: -25px;
}

.speech-bubble-right {
  position: relative;
  background: #003c52;
  border-radius: .4em;
  opacity: 0;
}

.speech-bubble-right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-color: #003c52;
  border-right: 0;
  margin-top: -25px;
  margin-right: -25px;
}

/* RESPONSIVE ANIMATION */

@keyframes resize {
  0% {
    padding: 0;
    top: 35%;
    left: 45%;
    /* height:30%; */
    /*    width: 15%; */
    /* content: "Movil"; */
  }
  50% {
    padding: 10% 35%;
    top: 25%;
    left: 10%;
    /* height: 50%; */
    /*     height:75%;
    width: 75%; */
    background-color: rgba(199, 214, 255, 0.5);
    /* content: "Tablet"; */
  }
  100% {
    padding: 35% 45%;
    top: 0%;
    left: 0%;
    /* height: 100%; */
    /*  width: 100%; */
    background-color: rgba(238, 242, 255, 0.3);
    /* content: "Ordenador"; */
  }
}

#box {
  animation-name: resize;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

#animationResponsive {
  position: relative;
  height: 29rem;
}

#animationResponsive #box {
  position: absolute;
  padding: 0;
  height: 30%;
  min-height: 160px;
  min-width: 90px;
  width: 10%;
  top: 35%;
  left: 45%;
  margin: 0 auto;
  border: 10px #212221 solid;
  background-color: rgba(208, 220, 255, 0.8);
}

/* ------------------------------------------- Animacion Texto Headers ------------------------------------------- */

/* ------------------------------------------- Animacion Texto Headers ------------------------------------------- */

/* ------------------------------------------- Animacion Texto Headers ------------------------------------------- */

/* texto p autocreado */

/* .box {
	max-width: 70vw;
	padding: 30px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	font-size: 30px;
	line-height: 1.5;
	transform: translateY(-50%);
	perspective: 400px;
}
 */

/* .source {
	color: skyblue;
	margin: 0 auto;
} */

/* ---------- */

/* .text{
  display: inline-block;
  font-size: 15vmin;
  line-height: 1.205;
} */

.text__first,
.text__second {
  position: relative;
}

.text__word {
  opacity: 0;
}

.text__first-bg,
.text__second-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transform-origin: left;
  transform: scaleX(0);
}

.text__first-bg {
  /* background-color: #003c52; */
  background-color: #fefefe;
}

.text__second-bg {
  background-color: #003c52;
}

.text__second {
  margin-left: 15vmin;
}

/* ---------- */

.text p {
  font-size: 2.4rem !important;
  font-weight: 300;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* .wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
} */

.halfScreenContainer,
.halfScreenContainerRight {
  background: #fff;
  /* background-color: #003c52; */
  padding: 8rem 8rem;
  min-height: -moz-calc(50vh - 100px);
  min-height: -webkit-calc(50vh - 100px);
  min-height: -o-calc(50vh - 100px);
  min-height: calc(50vh - 100px);
}

@media screen and (max-width:990px) {
  .halfScreenContainer,
  .halfScreenContainerRight {
    background: #fff;
    /* background-color: #003c52; */
    padding: 0rem 2rem;
  }
}

.halfScreenContainerINV,
.halfScreenContainerRightINV {
  background: #003c52;
  padding: 8rem 8rem;
  min-height: -moz-calc(50vh - 100px);
  min-height: -webkit-calc(50vh - 100px);
  min-height: -o-calc(50vh - 100px);
  min-height: calc(50vh - 100px);
}

@media screen and (max-width:990px) {
  .halfScreenContainerINV,
  .halfScreenContainerRightINV {
    background: #003c52;
    padding: 0rem 2rem;
  }
}

.sec-min-50vh {
  min-height: 50vh;
}

/* ---------- */

/* ------------------------------------------- navLegal ------------------------------------------- */

/* ------------------------------------------- navLegal ------------------------------------------- */

/* ------------------------------------------- navLegal ------------------------------------------- */

#navLegal {
  padding: 0%;
  min-height: 80px;
  background-color: #dedede;
  border-bottom: 1px solid rgba(102, 102, 102, 0.534);
  font-family: Calibri, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
  /*  text-decoration: none; */
}

#navLegal .navbar-collapse {
  /* background-color: #0f0; */
  background-color: #dedede;
  min-height: 80px;
}

#navLegal .navbar-collapse .navLegalRow {
  min-height: 80px;
  background-color: #dedede;
  margin: 0 auto;
}

#navLegal .navbar-collapse .navLegalRow .navLegalCol {
  /* background-color: #8e44ad; */
  min-height: 80px;
}

/*  .navLegalCol {
  height: 80px;
  font-weight: 600;
  text-decoration:none; 
  text-transform: uppercase;
  
} */

/*  .navLegalCol:hover {
  background-color: #979797;
  font-weight: 600;
  color: #fefefe;
  border-bottom: 10px solid #fefefe;

} */

@media (max-width:997px) {
  #navLegal .navbar-collapse {
    min-height: 0px;
  }
  #navLegal .navbar-collapse .navLegalRow {
    min-height: 0px;
    text-align: center;
    justify-content: center;
  }
  #navLegal .navbar-collapse .navLegalRow .navLegalCol {
    background-color: #fff;
    /* max-height: 10px !important; */
    margin: 0;
    padding: 1rem 2rem;
    /* height: 10px !important; */
    min-height: 10px;
    width: 100vw;
  }
}

/* ------------------------------------------- carousel icons ------------------------------------------- */

/* ------------------------------------------- carousel icons ------------------------------------------- */

/* ------------------------------------------- carousel icons ------------------------------------------- */

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active+.carousel-item,
  .carousel-inner .active+.carousel-item+.carousel-item,
  .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
    display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(50%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* Bootstrap Lightbox using Modal */

#profile-grid {
  overflow: auto;
  white-space: normal;
}

#profile-grid .profile {
  padding-bottom: 40px;
}

#profile-grid .panel {
  padding: 0
}

#profile-grid .panel-body {
  padding: 15px
}

#profile-grid .profile-name {
  font-weight: bold;
}

#profile-grid .thumbnail {
  margin-bottom: 6px;
}

#profile-grid .panel-thumbnail {
  overflow: hidden;
}

#profile-grid .img-rounded {
  border-radius: 4px 4px 0 0;
}

/* a.thumb {
 max-height: 8rem;
 height: 8rem;
 background-color: #16a085
}

a.thumb img {
  height: inherit;
 } */

/* ------------------------------------------- progress-bar.active ------------------------------------------- */

/* ------------------------------------------- progress-bar.active ------------------------------------------- */

/* ------------------------------------------- progress-bar.active ------------------------------------------- */

.progress-bar.active {
  animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}

@keyframes animate-positive {
  0% {
    width: 0%;
  }
}

/* ------------------------------------------- imgIconRounded ------------------------------------------- */

/* ------------------------------------------- imgIconRounded ------------------------------------------- */

/* ------------------------------------------- imgIconRounded ------------------------------------------- */

.imgIconRounded {
  border-radius: 8rem;
  max-height: 200px;
  max-width: 200px;
  /* padding: 20px 0; */
}

/* ------------------------------------------- captionBox ------------------------------------------- */

/* ------------------------------------------- captionBox ------------------------------------------- */

/* ------------------------------------------- captionBox ------------------------------------------- */

.containerCaptionBox {
  margin: 0 !important;
  padding: 0 !important;
}

.softwareCol0 {
  margin: 0;
  padding: 0px 3px 0px 0px;
}

.softwareCol1 {
  margin: 0;
  padding: 0px 3px 0px 3px;
}

.softwareCol2 {
  margin: 0;
  padding: 0px 0px 0px 3px;
}

@media (max-width:994px) {
  .softwareCol0 {
    margin: 0;
    padding: 0px 3px 3px 0px;
  }
  .softwareCol1 {
    margin: 0;
    padding: 0px 0px 3px 3px;
  }
  .softwareCol2 {
    margin: 0;
    padding: 3px 0px 0px 0px;
  }
}

.softwareLinkCol {
  position: relative;
  display: block;
  /* max-width: 650px; */
  margin: 0 auto;
  min-height: 50vh;
  width: 100%;
}

.captionBox {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  /* opacity: 0; */
  visibility: hidden;
  color: #fff;
  background-color: rgba(0, 60, 82, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
}

.captionBox:hover {
  /* opacity: 1 */
  visibility: visible;
}

.captionBox:focus {
  outline: none;
}

.captionContent {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.captionContent:hover {
  /* opacity: 1 */
  visibility: visible;
}

.captionCategory {
  padding: 0 15px;
  font-family: Calibri, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  /* opacity: 1 !important; */
  visibility: visible;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .captionCategory {
    font-size: 16px;
  }
}

@media (max-height: 568px) {
  .captionCategory h1 {
    font-size: 24px !important;
  }
  .captionCategory h2 {
    font-size: 20px !important;
  }
  .captionCategory p {
    font-size: 16px !important;
  }
}

/* ------------------------------------------- MAC SAFARI ------------------------------------------- */

/* ------------------------------------------- MAC SAFARI ------------------------------------------- */

/* ------------------------------------------- MAC SAFARI ------------------------------------------- */

.MACrow {
  content: " ";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex !important;
  
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.MACrow:before {
  content: " ";
  /* display: inline-block !important; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex !important;
  
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.MACrow:after {
  content: " ";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex !important;
  
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*  display: inline-block !important; */
}

/* 
.row{
  content: " ";
}

.row:before{
  content: " ";
  display: inline-block !important;
}

.row:after{
  content: " ";
  display: inline-block !important;
}
 */

 .dispNoneMovil {
  
}
@media screen and (max-width:992px){
 .dispNoneMovil {
  display: none !important;
 }
 .text-movile-center{
	order: 1;
	text-align: center;
 }
}

#mainNav.navbar-shrink #contactoButom {
    background-color: #003c52 !important;
    color: rgb(225,225,225,0.9) !important;
}

p.titulo-lateral{
	font-size: 1.5rem;
	font-weight: 800;
}
@media screen and (min-width:1200px){
.text-center.barra-lateral-derecha {
	max-width: 21%;
	margin: 2%;
	top: -80px;
	background-color: white;
	border-radius: 15px;
}
.padding-15{
	padding-right: 15% !important;
    padding-left: 15% !important;
}
div#logo-menu{
	right: 60px;
} 

}  


a.nohover:hover{
	text-decoration: none;	
}
.imagen-blog-interno{
    width: 60%;
    margin: 10px auto;
    display: block;
    padding-bottom: 10px;}
	
.texto-blog a{
	text-decoration:underline;
}
@media only screen  and (min-width : 1224px) {
	i.fa.fa-caret-down{
		display: none;
}
}
nav#mainNav.navbar.navbar-expand-xl.navbar-light.fixed-top div.container a.navbar-brand div.row div#logo-menu.col-12 p.text-logo.py-0 img{
	background-image: url("../img/logo-imagen.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-width:135px;
	min-height40px;
	
	
}

nav#mainNav.navbar.navbar-expand-xl.navbar-light.fixed-top.navbar-shrink div.container a.navbar-brand div.row div#logo-menu.col-12 p.text-logo.py-0 img{
	background-image: url("../img/logo-imagen-shink.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-width:135px;
	min-height40px;
	
	
}
