.enlace-blog-marketing{
	text-decoration: underline;
    color: rgba(75, 187, 0, 0.8);
	
}
.enlace-blog-informatica{
	text-decoration: underline;
    color: rgba(19, 133, 199, 0.8);
	
}
.enlace-blog-software{
	text-decoration: underline;
    color: rgb(187, 0, 0);
	
}
@media (min-width: 320px) and (max-width: 480px) {
.imagen-blog-interno{
    width: 100%;
}
	.col-sm-9.px-5.py-3.padding-15.order-xs-2{
	padding-right: 15% !important;
padding-left: 15% !important;
}


}
.col-sm-9.px-5.py-3.padding-15.order-xs-2{
	padding-right: 5% !important;
padding-left: 5% !important;
}
