
html{
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); */
  background: rgba(0, 60, 82, 0.5);
}

/* -------------------------------------------bgIMG------------------------------------------- */
/* -------------------------------------------bgIMG------------------------------------------- */
/* -------------------------------------------bgIMG------------------------------------------- */

/* INDEX */

.bgIMG {
  background-image: url("../img/InboundMarketingv2UW.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG1 {
  background-image: url("../img/portfolio/fullsize/7v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;

}

.bgIMG2 {
  background-image: url("../img/portfolio/fullsize/8v3.jpg");
  background-size: cover;
  background-position: 100% top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG3 {
  background-image: url("../img/portfolio/fullsize/9v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG4 {
  background-image: url("../img/portfolio/fullsize/10v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG5 {
  background-image: url("../img/portfolio/fullsize/11v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG6 {
  background-image: url("../img/portfolio/fullsize/12v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG7 {
  background-image: url("../img/portfolio/fullsize/13v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG8 {
  background-image: url("../img/portfolio/fullsize/14v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG9 {
  background-image: url("../img/portfolio/fullsize/15v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG10 {
  background-image: url("../img/portfolio/fullsize/16v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG11 {
  background-image: url("../img/portfolio/fullsize/17v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG12 {
  background-image: url("../img/portfolio/fullsize/18v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG13 {
  background-image: url("../img/portfolio/fullsize/19v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG14 {
  background-image: url("../img/portfolio/fullsize/20v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bgIMG15 {
  background-image: url("../img/portfolio/fullsize/21v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}


/* SOFTWARE */
/* bgIMG */
.bgIMG16 {
  background-image: url("../img/abstract-ai-art-355948v2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
      background-position: 100% top;
      background-attachment: fixed;
}
/* bgIMG2 */
.bgIMG17 {
  background-image: url("../img/blank-close-up-crumpled-479453v2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
      background-position: 100% top;
      background-attachment: fixed;
}

/*MARKETING*/
/* bgIMG */
.bgIMG18 {
  background-image: url("../img/blank-close-up-crumpled-479453.jpg");
    background-repeat: no-repeat;
    background-size: cover;
      background-position: 100% top;
      background-attachment: fixed;
}
/* bgIMG2 */
.bgIMG19 {
  background-image: url("../img/abstract-black-and-white-blur-261763.jpg");
    background-repeat: no-repeat;
    background-size: cover;
      background-position: 100% top;
      background-attachment: fixed;
}
/* bgIMG3 */
.bgIMG20 {
  background-image: url("../img/pattern-triangles-2988.jpg");
    background-repeat: no-repeat;
    background-size: cover;
      background-position: 100% top;
      background-attachment: fixed;
      padding: 8rem 0rem;
}
/* bgIMG4 */
.bgIMG21 {
  background-image: url("../img/wallpaper-design-flower-line-pattern-9-wallpaper-1024x1024-v2.jpg");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
      background-position: 100% top;
      background-attachment: fixed;
}

/*INFORMATICA*/
/* bgIMG */
.bgIMG22 {
  background-image: url("../img/wallhaven-322725.jpg");
    background-repeat: no-repeat;
    background-size: cover;
      background-position: 100% top;
      background-attachment: fixed;
      padding: 8rem;
}
/* bgIMG2 */
.bgIMG23 {
  background-image: url("../img/wallhaven-215111.jpg");
    background-repeat: no-repeat;
    background-size: cover;
      background-position: 100% top;
      background-attachment: fixed;
      padding: 8rem;
}
/* bgIMG3 */
.bgIMG24 {
  background-image: url("../img/architecture-business-cabinet-325229 (2).jpg");
    background-repeat: no-repeat;
    background-size: cover;
      background-position: 100% top;
      background-attachment: fixed;
      padding: 8rem;
}
/* bgIMG10 */
.bgIMG25 {
  background-image: url("../img/portfolio/fullsize/16v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}
/* bgIMG11 */
.bgIMG26 {
  background-image: url("../img/portfolio/fullsize/17v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}
/* bgIMG12 */
.bgIMG27 {
  background-image: url("../img/portfolio/fullsize/18v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}
/* bgIMG13 */
.bgIMG28 {
  background-image: url("../img/portfolio/fullsize/19v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}
/* bgIMG14 */
.bgIMG29 {
  background-image: url("../img/portfolio/fullsize/20v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}
/* bgIMG15 */
.bgIMG30 {
  background-image: url("../img/portfolio/fullsize/21v3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  /* background-attachment: fixed; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}


/* -------------------------------------------SLIDER------------------------------------------- */
/* -------------------------------------------SLIDER------------------------------------------- */
/* -------------------------------------------SLIDER------------------------------------------- */
.slider {
  height: 100vh;
  opacity: 0;
}
.sliderContacto {
  background: url(../img/cable-call-communication-33999v2.jpg);
  background-size: cover;
  background-position: center;
}

.sliderDescargas {
  background: url(../img/Download-File.jpg);
  background-size: cover;
  background-position: center;
}

.sliderMarketing {
  background: url(../img/imagen2v3.jpg);
  background-size: cover;
  background-position: center;
}

.sliderSoftware {
  background: url(../img/imagen-ojov2.jpg);
  background-size: cover;
  background-position: center;
}

.sliderInformatica {
  background: url(../img/cables-hardwarev2.jpg);
  background-size: cover;
  background-position: center;
}
