html {
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); */
    background: rgba(10, 80,120, 0.5);
}

/* body, html {
  width: 100%;
  height: 100%
} */


body {
  font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif
}
.fuenteCalibri {
  font-family: Calibri
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #003c52
}

hr.light {
  border-color: #fff
}

a {
  color: #003c52;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s
}

a:hover {
  color: #003c52
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

.bg-primary {
  background-color: #003c52 !important
}

.bg-dark {
  background-color: #212529 !important
}

.text-faded {
  color: rgba(255, 255, 255, .7)
}

section {
  padding: 8rem 0
}



.section-heading {
  margin-top: 0
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none
}

img::selection {
  color: #003c52;
  background: 0 0
}

img::-moz-selection {
  color: #003c52;
  background: 0 0
}

/* -------------------------------------------mainNav------------------------------------------- */
/* -------------------------------------------mainNav------------------------------------------- */
/* -------------------------------------------mainNav------------------------------------------- */


#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, .1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s
}

#mainNav .navbar-brand {
  font-weight: 700;
  /* text-transform: uppercase; */
  color: rgba(0,60,82,0.5);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #003c52
}

#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0, 60, 82, .5)
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
  color: #003c52
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
  color: #003c52 !important;
  background-color: transparent
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
  background-color: transparent
}

@media (min-width:992px) {

  #mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, .1);
    background-color: #fff;
  }
  #mainNav .navbar-brand {
    color: rgba(0, 60, 82, .5)
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #003c52
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link {
    padding: .5rem 1rem
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: rgba(10, 80,120, 0.5);
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #003c52
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, .1);
    background-color: #fff
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #003c52
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #003c52
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: rgba(10, 80,120, 0.5);
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #003c52
  }
}



/* -------------------------------------------PORTFOLIO------------------------------------------- */
/* -------------------------------------------PORTFOLIO------------------------------------------- */
/* -------------------------------------------PORTFOLIO------------------------------------------- */
.service-box {
  max-width: 400px
}


.portfolio-box {
  position: relative;
  display: block;
  /* max-width: 650px; */
  margin: 0 auto
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  /* opacity: 0; */
  visibility: hidden;
  color: #fff;
  background-color: rgba(00, 60, 82, .9);
  /* -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  transition: all ease .2s */
}


.portfolio-box
.portfolio-box-caption
.portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center
}

.portfolio-box
.portfolio-box-caption
.portfolio-box-caption-content
.project-category,

.portfolio-box
.portfolio-box-caption
.portfolio-box-caption-content
.project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  /* opacity: 1 !important; */
  visibility: visible;

}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px
}

.portfolio-box:hover .portfolio-box-caption {
  /* opacity: 1 */
  visibility: visible;
}

.portfolio-box:focus {
  outline: 0
}

@media (min-width:768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px
  }
}


/* -------------------------------------------CARTAS------------------------------------------- */
/* -------------------------------------------CARTAS------------------------------------------- */
/* -------------------------------------------CARTAS------------------------------------------- */




.carta {
  background-color: rgba(30,30,30,.9);
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(250, 250, 250, 0.9);
  border-width: thin;
padding: 2rem 3rem;
  margin: 2rem 1rem;
  min-width:  350px;
  min-height: 200px;
display: block;
position: relative;
}

.imagen-carta {
  margin: auto;
  border-right-style: solid;
  border-right-color: rgba(150, 150, 150, 0.0);
  border-right-width: thin;
  max-width: 50%;
}

@media screen and (min-width: 994px) {
  .imagen-carta {
    margin: 0 auto;
    border-right-color: rgba(150, 150, 150, 0.5);



  }

  .carta {
padding: 2rem 3rem 2rem 1rem;
  }
}

.textoCarta {
  color: #fff;


}

.textoCarta p {
  padding: 4px 0rem;
  opacity: 0;
}

.listaHideme {
  list-style:none;
/* position: relative; */
}

.listaHideme li {
  padding: 4px 0rem;
  opacity: 0;

  /* top: -30px; */
}




/* -------------------------------------------SECCIONES TEXTO------------------------------------------- */
/* -------------------------------------------SECCIONES TEXTO------------------------------------------- */
/* -------------------------------------------SECCIONES TEXTO------------------------------------------- */


.text-primary {
  color: #003c52 !important
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

.btn-xl {
  padding: 1rem 2rem
}

.btn-primary {
  background-color: #003c52;
  border-color: #003c52
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #003c52 !important
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 60, 82, .5) !important
}

/* -------------------------------------------footer------------------------------------------- */
/* -------------------------------------------footer------------------------------------------- */
/* -------------------------------------------footer------------------------------------------- */


.footer {
  height: 100px;
  background-color: rgba(0, 60, 82, 1);
  padding: 0rem 0;
  color: #fff;
  border-top: solid rgba(255, 255, 255, 0.3) 1px; 
}

.footer a{
  text-decoration: none;
  color: #fff;
  transition: all ease 1s;
}
.footer a:hover{
  text-decoration: none;
  color: rgba(200,200,200,0.5);
  /* font-size: 1.5rem; */

}

/* -------------------------------------------slider------------------------------------------- */
/* -------------------------------------------slider------------------------------------------- */
/* -------------------------------------------slider------------------------------------------- */

.hideme {
  opacity: 0;
}

.toscroll {
padding: 0;
}
 .scrollme {
      display: none;
      padding-top: 2rem;
      padding-bottom: 8rem;
}

/* -------------------------------------------carousel------------------------------------------- */
/* -------------------------------------------carousel------------------------------------------- */
/* -------------------------------------------carousel------------------------------------------- */
@media screen and (max-width:576px){
  .carr p{
    display: none;
  }
}


