body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.fuenteCalibri {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif !important;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #003c52;
}

hr.light {
  border-color: #fff;
}

a {
  color: #003c52;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #003c52;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #003c52 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  /* text-transform: uppercase; */
  color: #003c52;
  /* font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; */
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #003c52;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
  color: #003c52;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
  color: rgb(226, 226, 185) !important;
  background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #003c52;
  }
  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #003c52;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #003c52;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
/*   background-image: url("./video/Smartphone - 3135.mp4");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

}

header.masthead video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
   /*  min-height: 650px; */
    padding-top: 0;
    padding-bottom: 0;
  }

/*   header.masthead video {
    position: fixed;
    width: 100vw;  
    z-index: -1;
    overflow: hidden;
  
  } */

  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  /* max-width: 650px; */
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  /* opacity: 0; */
  visibility: hidden;
  color: #fff;
  background: rgba(0, 60, 82, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  /* opacity: 1 !important; */
  visibility: visible;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  /* opacity: 1 */
  visibility: visible;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #003c52 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #003c52;
  border-color: #003c52;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #003c52 !important;
}

.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(00, 60, 82, 0.5) !important;
}

/* LOADER */

.loader-section {
  display: fixed;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0rem;
  width: 100% !important;
  height: 100% !important;
  z-index: 9000;
  opacity: 1;
}

.load-wrap {
  
  display: fixed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  height: 100vh;
  width: 100vw;
}


.loader-heading {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif !important;
  color: #003c52;
  font-size: 12rem;
}

.loader-paragraph {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif !important;
  color: #003c52;
  font-size: 2.5rem;
}




 .section-left{
  position: fixed;
  top: 0;
  width: 51vw;
  height: 100vh;
  z-index: 8999;
  left: 0;
  background: #fff;

}
.section-right{
  position: fixed;
  top: 0;
  width: 51vw;
  height: 100vh;
  z-index: 8999;
  right: 0;
  background: #fff;
}


/* SVG LOGO */

/* svg {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 0; right: 0;
  bottom: 0; left: 0; 
  margin: auto;
} */

  .fondo {
    
    stroke-dasharray:1240 1242;
    stroke-dashoffset:1241;
    animation:yxVBuHTy_draw 1000ms ease-in-out 0ms forwards;
}

.BordFinInterior{
  stroke-dasharray:1079 1081;
  stroke-dashoffset:1080;
  animation:yxVBuHTy_draw 1200ms ease-in-out 100ms forwards;
}

.BordFinExterior{
  stroke-dasharray:1246 1248;
  stroke-dashoffset:1247;
  animation:yxVBuHTy_draw 1200ms ease-in-out 200ms forwards;
}

.bordeGrueso{
  stroke-dasharray:1163 1165;
  stroke-dashoffset:1164 ;
  animation:yxVBuHTy_draw 1200ms ease-in-out 300ms forwards;
}

.exteriorCrater{
  stroke-dasharray:445 447;
  stroke-dashoffset:446;
  animation:yxVBuHTy_draw 1000ms ease-in-out 400ms forwards;
}

.interiorCrater{
  stroke-dasharray:2111 2113;
  stroke-dashoffset:2112;
  animation:yxVBuHTy_draw 1000ms ease-in-out 500ms forwards;
}

@keyframes yxVBuHTy_draw{
  100%{
    stroke-dashoffset:0;
  }
}
@keyframes yxVBuHTy_fade{
  0%{
    stroke-opacity:0;
  }
  93.75%{
    stroke-opacity:0;
  }
  100%{
    stroke-opacity:0;
  }
}
