  /*SCROLLBAR*/

  html {
      overflow: scroll;
      overflow-x: hidden;
  }
  ::-webkit-scrollbar {
      width: 10px;
      background: transparent;
  }
    ::-webkit-scrollbar-thumb {
      background: #190866;
  }

body,html {

    width: 100%;

    height: 100%;
    background: url('../imagenes/wallhaven-4825222.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.warp {

    width:95%;
    max-width:1000px;
    margin: 0 auto;
    overflow:hidden;
}

/*----------------------*/
/****Movimiento Sexy*****/
/*----------------------*/
.grid figure {
    position: relative;

    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background-color: transparent
    text-align: center;
    cursor: pointer;
}
figure.move img {
	max-width: 100%;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.55;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.move figcaption {
	text-align: left;
}

figure.move figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.move h2,
figure.move p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.move h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
  color: rgba(255,255,255,0.8);
  font-size: 2em;
}

figure.move p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.move:hover img,
figure.move:hover p {
	opacity: 1;
}

figure.move:hover img,
figure.move:hover h2,
figure.move:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.move:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
