body, html {
    width: 100%;
    /*height: 100%;*/
    background: url('./imagenes/wallhaven-278912.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    overflow: hidden;
}

.header {
    background-color: #990000;
    color: #fffff0;
    text-decoration: none;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    /*position: fixed;*/
    top: 0px;
    z-index: 100;
    height: 100px;
    padding-top: 10px;
}

h1 {
    font-size: 45px;
}

.recuadro {
    margin-top: 10%;
    margin-bottom: 20%;
    width: 60%;
    height: 40%;
    margin-left: 20%;
}

.hoy {
    background-color: #fffff0;
    z-index: 1;
    filter: alpha(opacity=80);
    -moz-opacity: .80;
    opacity: .80;
    border-radius: 5px;
    height: 100%;
    width: 69%;
    float: left;
    overflow: hidden;
}

.otros {
    width: 29%;
    height: 100%;
    float: right;
}

.peque {
    background-color: #fffff0;
    border-radius: 5px;
    z-index: 1;
    filter: alpha(opacity=80);
    -moz-opacity: .80;
    opacity: .80;
    margin-bottom: 2.5%;
    height: 49.25%;
    width: 100%;
    clear: both;
    float: left;
    overflow: hidden;
}

.espacioicono {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.dia {
    background-color: #990000;
    font-size: 30px;
    border-radius: 5px;
    opacity: 2;
}

.icono {
    position: relative;
    top: -15%;
    right: -15%;
    width: 100%;
    height: 100%;
    float: right;
    overflow: hidden;
}

.realinfo {
    width: 100%;
    height: auto;
}

.tabla {
    width: 100%;
    height: 30%;
    position: relative;
    top: -60%;
}
.tablapeque {
    width: 100%;
    height: 30%;
    position: relative;
    top: -70%;
}

.tempMaxMin {
  position: relative;
  top: -60%;
  right: -2%;
  font-size: 2em;
  z-index: 500;
  text-shadow: 1px 1px #990000;
}
.tempMaxMinpeque{
  position: relative;
  top: -60%;
  right: -2%;
  font-size: 1.2em;
  z-index: 500;
  text-shadow: 1px 1px #990000;
}
.footer  {
  float: right;
}
@media screen and (max-height: 900px) {
  .tabla {
      width: 100%;
      height: 30%;
      position: relative;
      top: -70%;
  }
  .tablapeque {
      width: 100%;
      height: 30%;
      position: relative;
      top: -86%;
      font-size: 0.9em;

  }

  .tempMaxMin {
    position: relative;
    top: -70%;
    right: -2%;
    font-size: 2em;
    z-index: 500;
    text-shadow: 1px 1px #990000;
  }
  .tempMaxMinpeque{
    position: relative;
    top: -75%;
    right: -2%;
    font-size: 1.1em;
    z-index: 500;
    text-shadow: 1px 1px #990000;
  }
}
@media screen and (max-height: 700px) {
  .tabla {
      width: 100%;
      height: 30%;
      position: relative;
      top: -75%;
  }
  .tablapeque {
      width: 100%;
      height: 30%;
      position: relative;
      top: -75%;
      font-size: 0.8em;

  }

  .tempMaxMin {
    position: relative;
    top: -70%;
    right: -2%;
    font-size: 2em;
    z-index: 500;
    text-shadow: 1px 1px #990000;
  }
  .tempMaxMinpeque{
    position: relative;
    top: -70%;
    right: -2%;
    font-size: 0.7em;
    z-index: 500;
    text-shadow: 1px 1px #990000;
  }
}
@media screen and (max-height: 600px) {
  .tabla {
      width: 100%;
      height: 30%;
      position: relative;
      top: -80%;
  }
  .tablapeque {
      width: 100%;
      height: 30%;
      position: relative;
      top: -80%;
      font-size: 0.7em;

  }

  .tempMaxMin {
    position: relative;
    top: -75%;
    right: -2%;
    font-size: 2em;
    z-index: 500;
    text-shadow: 1px 1px #990000;
  }
  .tempMaxMinpeque{
    position: relative;
    top: -70%;
    right: -2%;
    font-size: 0.7em;
    z-index: 500;
    text-shadow: 1px 1px #990000;
  }
}

@media screen and (max-height: 550px) {
  .tabla {
      width: 100%;
      height: 30%;
      position: relative;
      top: -70%;
      opacity: 0;
  }
  .tablapeque {
      width: 100%;
      height: 30%;
      position: relative;
      top: -70%;
      font-size: 0.8em;
      opacity: 0;


  }

  .tempMaxMin {
    position: relative;
    top: -60%;
    right: -2%;
    font-size: 2em;
    z-index: 500;
    text-shadow: 1px 1px #990000;
  }
  .tempMaxMinpeque{
    position: relative;
    top: -60%;
    right: -2%;
    font-size: 0.7em;
    z-index: 500;
    text-shadow: 1px 1px #990000;
  }
}
