/*
Colores:
PANTONE SEIDEL: PANTONE 3035 C 2 -->
#003E52;
rgb(0,62,82);
lo cambio a #004955 por parecido en pantalla TN
#1b4052
#1e4753




*/

/*SCROLLBAR*/

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1e4753;
}

/*COMUN WEB*/

body, html {
  width: 100%;
  height: 100%;
  z-index: -100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
}

/*

.logo {
  width: 115%;
  margin-left: -20px;
  margin-top: -25px;
}

.logo img{
  width: 100%;


}
.listElement i {
  float: left;
  margin-right: 10px;
  border: 1px;
  border-radius: 5px;
}
*/

.mainStrech {
  width: 100%;
  height: 100px;
  margin: 0;
}

.header {
  width: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  background-color: #1e4753;
  z-index: 100;
}

.header button {
  height: 80px;
  width: 80px;
  /* border: 1px;
  border-color: #000;
   */
  border-radius: 100px;
  position: absolute;
  height: -webkit-calc(100%-20px);
  height: calc(100% -20px);
  top: 10px;
  left: -webkit-calc(100%-100px);
  left: calc(100% - 100px);
  background: url(../img/LOGO SDL.png);
}

.header button>img {
  height: 100%;
  width: 100%;
}

.header button :hover {
  border-radius: 0px;
}

/*BODY*/

.warp {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

/* Style page content */

.main {
  margin-left: 0px;
  margin: 0px;
  /* Same as the width of the sidebar */
  /* padding: 0px 10px; */
}

.presentation {
  height:  -webkit-calc(100%-100px);
  height: calc(100% - 100px);
  margin-top: 100px;
  margin: 0;
  overflow: hidden;
}

.tags {
  margin-top: 100px;
}

.footer {
  height: 100px;
  background-color: #1e4753;
  width: 100%;
  margin-top: 100px;

}

.footerDivision p{
  color: #fff;
  float: left;
  margin-right: 1em;
  margin-top: 10px;
}

.footerDivision a{
  color: #fff;
  position: relative;
  top: 10px;
  left: 50%;
  /* left: -webkit-calc(90%-30px);
  left: calc(90% -30px); */

}
.footerDivision a:hover {
  text-decoration: none;
  color: #888;

}
