/*----------------------*/

/****Movimiento Lilith*****/

/*----------------------*/

.grid figure {
  position: relative;
  /* float: left; */
  /* overflow: hidden; */
  margin: 20px 1%;
  min-width: 320px;
  /* max-width: 480px; */
  max-height: 360px;
  width: 48%;
  background-color: transparent text-align: center;
  cursor: pointer;
}

figure.move img {
  max-width: 100%;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.55;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

figure.move figcaption {
  text-align: left;
}

figure.move figcaption>div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  height: 50%;
}

figure.move h2, figure.move h3 {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

figure.move h2>i {
  margin-right: 0.5em;
}

figure.move h3>i {
  margin-left: 0.5em;
}

figure.move h4, figure.move p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(500px, -000px, 0);
  transform: translate3d(500px, -000px, 0);
  color: #000;
  opacity: 0;
}

figure.move h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2em;
}

figure.move h3 {
  color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
  font-size: 1em;
}

figure.move:hover img, figure.move:hover h3 {
  opacity: 1;
}

figure.move:hover h4, figure.move:hover p {
  -webkit-transform: translate3d(500px, -230px, 0);
  transform: translate3d(500px, -230px, 0);
  opacity: 1;
}

figure.move:hover img, figure.move:hover h2, figure.move:hover h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.move:hover h3 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
