html {
  overflow-y: hidden;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); */
  background: rgba(10, 80, 120, 0.5);
}

.slider {
  background: url(../img/bg1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.slider h1 {
  font-size: 20vh;
}

.slider p {
  font-size: 4vh;
}

@font-face {
  font-family: 'Womby-Regular';
  src: url('../fonts/Womby-Font/Womby-Regular.woff');
}

@font-face {
  font-family: 'HelveticaWorld-Bold';
  src: url('../fonts/Helvetica/Helvetica World/HelveticaWorld-Bold.ttf');
}

.panNaveg {
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  display: block;
}

.panNaveg :hover {}

.linktr {
  font-family: HelveticaWorld-Bold;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  display: block;
  padding: 15px;
  overflow: visible;
}
.linktr:hover {
  color: rgba(255, 255, 255, 1);
  padding-left: 30px;
  text-decoration: none;
  transition: all ease 1s;
}

.linkstatic {
  width: 200px;
  height: 200px;
  overflow: visible;
  padding: 0px;
}
.linkstatic:hover {
  color: rgba(255, 255, 255, 1);
  padding-left: 30px;
  transition: all ease 1s;
}





/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}
